@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Vr-logo {
    height: 60px;
    width: 80px;
}

#navi-items1 {
    font-family: "Roboto";
    color: #323f4b;
}

#navi-items2 {
    font-family: "Roboto";
    color: #323f4b;
}

#navi-items3 {
    font-family: "Roboto";
    color: #323f4b;
}

#navi-items4 {
    font-family: "Roboto";
    color: #323f4b;
}

.vr-reality-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.vr-website-navar-head {
    color: white;
    font-size: 45px;
    font-family: "Roboto";
    font-weight: bold;
}

.vr-website-navar-custom-button {
    color: white;
    background-color: #1a2137;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 4px;
}

.vr-feature-section-head {
    font-size: 27px;
    color: #1f2933;
    font-family: "Roboto";
    font-weight: 700;
}

.vr-feature-section-card-image {
    height: 64px;
    width: 64px;
}

.vr-feature-section-card-heading {
    color: #1f2933;
    font-size: 23px;
    font-family: "Roboto";
    font-weight: 500;
}

.vr-feature-section-card-para {
    color: #7b8794;
    font-size: 16px;
    font-family: "Roboto";
}

.vr-feature-section-card-item {
    color: #1f2933;
    font-style: italic;
    font-size: 23px;
    font-weight: bold;
}

.vr-kit-section {
    background-color: #f9fbfe;
}

.vr-kit-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.vr-kit-section-card-image {
    height: 250px;
    width: 200px;
}

.vr-kit-section-card-heading {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    color: #323f4b;
}

.optical-and-controllers-section-image {
    width: 100%;
    margin-bottom: 10px;
}

.optical-and-controllers-section-heading {
    font-size: 38px;
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 9px;
}

.optical-and-controllers-section-para {
    font-size: 24px;
    font-family: "Roboto";
    color: #7b8794;
    margin-left: 9px;
}

.optical-and-controllers-section-button {
    width: 130px;
    height: 45px;
    border-radius: 7px;
    background-color: #1a2137;
    color: white;
    margin-left: 9px;
}

.contact-us-section {
    background-color: #222b36;
}

.contact-us-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.contact-us-section-image {
    width: 100%;
    margin-bottom: 10px;
}

.Trending-blogs-section-heading {
    color: #1f2933;
    font-size: 35px;
    font-weight: bold;
    font-family: "Roboto";
}


.Trending-blogs-section-heading-1 {
    font-size: 25px;
    color: #959ead;
    font-family: "Roboto";
    font-weight: 500;
    margin-left: 10px;
}

.Trending-blogs-section-paragraph {
    font-size: 27px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 500;
    margin-left: 10px;
}

.Trending-blogs-section-menu-items {
    color: #1754a1;
    font-family: "Roboto";
    font-weight: 500px;
    margin-top: 10px;
}

.Trending-blogs-section-button {
    background-color: #1754a1;
    width: 170px;
    height: 56px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-family: "Roboto";
    border-width: 0;
    font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.Products-section-head {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
}

.Products-section-bg-1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    margin-bottom: 10px;
    height: 100vh;
    margin-bottom: 3px;
}

.Products-section-head-1 {
    font-family: "Roboto";
    font-size: 36px;
    color: white;
    font-weight: 500;
}

.Products-section-para {
    font-family: "Roboto";
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.Products-section-button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    border-color: white;
    font-family: "Roboto";
    border-style: solid;
    font-weight: 500;
    border-width: 2px;
}

.Products-section-bg-2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.Products-section-button-1 {
    width: 173px;
    height: 56px;
    color: white;
    background-color: #1754a1;
    border-style: solid;
    border-width: 0;
    border-radius: 4px;
    font-weight: 500;
}

.vr-footer-section {
    background-color: #19232d;
    background-size: cover;
}

.vr-footer-section-image {
    height: 60px;
    width: 67px;
}

.footer-section-icons {
    color: #959ead;
    font-size: 22px;
}

.vr-footer-section-social-media-icons {
    background-color: #202b36;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
    margin-right: 8px;
    margin-bottom: 8px;

}

.vr-footer-section-para-1 {
    color: #5a7184;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 5px;
    text-align: center;
    margin: 20px;
}

.vr-footer-section-heading-1 {
    color: #5a7184;
    font-weight: 600;
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section-icons-1 {
    color: #959ead;
    font-size: 30px;
    padding-left: 0px;
}

.vr-footer-section-text {
    color: #5a7184;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 5px;

}

.footer-section-lists {
    list-style-type: none;
    padding-left: 0px;
}

.vr-footer-section-heading-2 {
    color: #5a7184;
    font-weight: 200;
    font-family: "Roboto";
    font-size: 10px margin-bottom: 10px;
    padding-right: 30px;
}

.hr-line {
    background-color: #5a7184;
}